<app-navbar class="absolute"></app-navbar>
<div class="max-w-screen overflow-scroll overflow-x-hidden h-screen">
  <section class="snap-center">
    <div
      class="grid content-center min-h-screen pt-2.5 pb-2.5 pl-[10%] pr-[10%] show-on-scroll"
    >
      <p class="text-white text-2xl font-light">Have a look arround a</p>
      <p class="text-white text-7xl font-semibold">Local Store - Design</p>
      <p class="text-white text-2xl font-light">Project</p>
    </div>
  </section>
  <section class="snap-center h-screen">
    <div
      class="w-full flex flex-col justify-center pt-20 pb-2.5 pl-[10%] pr-[10%]"
    >
      <div class="h-screen w-full">
        <div class="h-1/2 w-full flex">
          <div class="w-1/2 h-full">
            <img src="assets/images/mock-ups/mioomi-macbook.png" alt="" />
          </div>
          <div class="w-full flex justify-end">
            <img
              class="h-[450px]"
              src="assets/images/demo/mioomi-demo.png"
              alt=""
            />
          </div>
        </div>
        <div class="h-1/2 w-full bg-blue-600 flex">
          <div class="w-1/2 h-full bg-orange-500"></div>
        </div>
      </div>
    </div>
  </section>
</div>
