
<div class="flex justify-evenly">
  <div class="flex flex-col space-y-8">
    <div class="flex space-x-5">
      <div class="flex flex-col justify-center h-8 w-8 ipad:h-16 ipad:w-16 desktop:h-32 desktop:w-32 show-on-scroll-icon-1">
        <img class="pb-2" src="/assets/logos/html5-plain.svg" alt="" />
        <label class="text-white text-center hidden ipad:block">HTML</label>
      </div>
      <div class="flex flex-col justify-center h-8 w-8 ipad:h-16 ipad:w-16 desktop:h-32 desktop:w-32 show-on-scroll-icon-1">
        <img class="pb-2" src="/assets/logos/css3-original.svg" alt="" />
        <label class="text-white text-center hidden ipad:block">CSS</label>
      </div>
    </div>
    <div class="flex space-x-5">
      <div class="flex flex-col justify-center h-8 w-8 ipad:h-16 ipad:w-16 desktop:h-32 desktop:w-32 show-on-scroll-icon-1">
        <img class="pb-2" src="/assets/logos/javascript-plain.svg" alt="" />
        <label class="text-white text-center hidden ipad:block">JavaScript</label>
      </div>
      <div class="flex flex-col justify-center h-8 w-8 ipad:h-16 ipad:w-16 desktop:h-32 desktop:w-32 show-on-scroll-icon-1">
        <img class="pb-2" src="/assets/logos/typescript-plain.svg" alt="" />
        <label class="text-white text-center hidden ipad:block">TypeScript</label>
      </div>
    </div>
  </div>
  
  <div class="flex flex-col space-y-8">
    <div class="flex space-x-5">
      <div class="flex flex-col justify-center h-8 w-8 ipad:h-16 ipad:w-16 desktop:h-32 desktop:w-32 show-on-scroll-icon-1">
        <img class="pb-2" src="/assets/logos/angularjs-plain.svg" alt="" />
        <label class="text-white text-center hidden ipad:block">Angular</label>
      </div>
      <div class="flex flex-col justify-center h-8 w-8 ipad:h-16 ipad:w-16 desktop:h-32 desktop:w-32 show-on-scroll-icon-1">
        <img class="pb-2" src="/assets/logos/react-original.svg" alt="" />
        <label class="text-white text-center hidden ipad:block">React</label>
      </div>
    </div>
    <div class="flex space-x-5">
      <div class="flex flex-col justify-center h-8 w-8 ipad:h-16 ipad:w-16 desktop:h-32 desktop:w-32 show-on-scroll-icon-1">
        <img class="pb-2" src="/assets/logos/photoshop-plain.svg" alt="" />
        <label class="text-white text-center hidden ipad:block">PhotoShop</label>
      </div>
      <div class="flex flex-col justify-center h-8 w-8 ipad:h-16 ipad:w-16 desktop:h-32 desktop:w-32 show-on-scroll-icon-1">
        <img class="pb-2 pt-[3px]" src="/assets/logos/premierepro-plain.svg" alt="" />
        <label class="text-white text-center hidden ipad:block">Premiere</label>
      </div>
    </div>
  </div>        
  <div class="flex flex-col space-y-8">
    <div class="flex space-x-5">
      <div class="flex flex-col justify-center h-8 w-8 ipad:h-16 ipad:w-16 desktop:h-32 desktop:w-32 show-on-scroll-icon-1">
        <img class="pb-2" src="/assets/logos/azure-original.svg" alt="" />
        <label class="text-white text-center hidden ipad:block">Azure</label>
      </div>
      <div class="flex flex-col justify-center h-8 w-8 ipad:h-16 ipad:w-16 desktop:h-32 desktop:w-32 show-on-scroll-icon-1">
        <img class="pb-2" src="/assets/logos/git-plain.svg" alt="" />
        <label class="text-white text-center hidden ipad:block">Git</label>
      </div>
    </div>
    <div class="flex space-x-5">
      <div class="flex flex-col justify-center h-8 w-8 ipad:h-16 ipad:w-16 desktop:h-32 desktop:w-32 show-on-scroll-icon-1">
        <img class="pb-2" src="/assets/logos/nodejs-plain.svg" alt="" />
        <label class="text-white text-center hidden ipad:block">NodeJS</label>
      </div>
      <div class="flex flex-col justify-center h-8 w-8 ipad:h-16 ipad:w-16 desktop:h-32 desktop:w-32 show-on-scroll-icon-1">
        <img class="pb-2" src="/assets/logos/tailwindcss-plain.svg" alt="" />
        <label class="text-white text-center hidden ipad:block">TailwindCSS</label>
      </div>
    </div>
  </div>

</div>