<div class="main">
  <div class="header-text">
    <p>Hello my Name is</p>
    <h1>Luca Ebert</h1>
    <p>I'm a Web-Developer from Germany</p>
  </div>
  <div class="spacer"></div>
  <div id="about-me">
    <div class="container">
      <div class="row">
        <div data-aos="fade-up" data-aos-duration="1500" class="about-col-1">
          <img src="assets/images/LinkedInPb.jpg" />
        </div>
        <div data-aos="fade-up" data-aos-duration="1500" class="about-col-2">
          <h2 style="padding-bottom: 25px">About Me</h2>
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
            sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
            accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
          <div class="tab-titles">
            <p class="tab-links"><a href="">Skills</a></p>
            <!--TODO ADD SKILLS-->
            <p class="tab-links">
              <a href="https://github.com/AzzeXY">GitHub</a>
            </p>
            <p class="tab-links">
              <a href="https://www.instagram.com/luxqaaa/">Instagram</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="spacer">
    <img
      class="invert"
      src="assets/images/html_logo.png"
      alt="HTML Logo"
      style="width: 90px; padding: 5px"
    />
    <img
      class="invert"
      src="assets/images/css_logo.png"
      alt="CSS Logo"
      style="width: 90px; padding: 5px"
    />
    <img
      class="invert"
      src="assets/images/javascript_logo.png"
      alt="JavaScript Logo"
      style="width: 90px; padding: 5px"
    />
    <img
      class="invert"
      src="assets/images/typescript_logo.png"
      alt="TypeScript Logo"
      style="width: 90px; padding: 5px"
    />
    <img
      class="invert"
      src="assets/images/azure_logo.png"
      alt="Azure Logo"
      style="width: 90px; padding: 5px"
    />
    <img
      class="invert"
      src="assets/images/csharp_logo.png"
      alt="CSharp Logo"
      style="width: 90px; padding: 5px"
    />
  </div>
</div>
