<div class="main">
  <div class="header-text">
    <p>Hello my Name is</p>
    <h1>Luca Ebert</h1>
    <p>I'm a Web-Developer from Germany</p>
  </div>
  <div class="spacer"></div>
  <div id="about-me">
    <div class="container">
      <div class="row">
        <div data-aos="fade-up" data-aos-duration="1500" class="about-col-1">
          <img src="assets/images/LinkedInPb.jpg" />
        </div>
        <div class="about-col-2">
          <h2 data-aos="fade-up" data-aos-duration="1500">About me</h2>
        </div>
      </div>
    </div>
  </div>
</div>
