<div
  class="max-w-screen overflow-scroll overflow-x-hidden h-screen snap-y snap-mandatory"
>
  <section class="snap-center">
    <div
      class="grid content-center min-h-screen pt-2.5 pb-2.5 pl-[10%] pr-[10%] show-on-scroll"
    >
      <p class="text-white text-2xl font-light">Hi my name is</p>
      <p class="text-white text-7xl font-semibold">Luca Ebert</p>
      <p class="text-white text-2xl font-light pt-1">
        I'm a Front-End Software-Developer <br>
        and enthusiastic content creator
      </p>
    </div>
  </section>
  <section class="snap-center h-full">
    <div class="grid pt-20 pb-2.5 pl-[10%] pr-[10%]">
      <div class="text-center pt-1 show-on-scroll">
        <p class="text-white text-6xl font-semibold">My Skills</p>
        <p class="text-white text-xl font-medium pb-20">
          At my young age, I have cultivated a creative mindset and a diverse
          skill set, <br />
          excelling in coding, photo and video design, and learning extensively,
          <br />
          enabling me to approach complex challenges with innovation and
          confidence.
        </p>
      </div>
      <app-icon-list></app-icon-list>
      <div class="text-center pt-24">
        <p class="text-white text-xl font-light pb-20 show-on-scroll-icon-5">
          Building small and medium web applications with Angular
          or React. <br />
          I can also build web appliactions using WordPress. <br />
          Enthusiastic photo-/videographer with some experience in UX/UI.
        </p>
      </div>
    </div>
  </section>
  <section class="snap-center h-full">
    <div class="flex flex-row items-center min-h-screen pl-[10%] pr-[10%]">
      <div class="flex-1 text-white">
        <div class="pl-14">
          <img
            src="/assets/images/portfolio.png"
            alt=""
            class="rounded-[50%] drop-shadow-2xl"
          />
        </div>
      </div>
      <div class="flex-1 text-white">
        <p class="text-white text-2xl font-light">
          Interested in creating a project together?
        </p>
        <p class="text-white text-7xl font-semibold">Contact Me!</p>
        <p
          class="text-white text-2xl font-light pt-1 italic text-[#6d25b8] drop-shadow-2xl"
        >
          <a href="mailto:l.ebert@ebert-mmt.de"> l.ebert@ebert-mmt.de </a>
        </p>
        <div class="flex flex-row space-x-2">
          <p routerLink="/datenschutz" class="italic cursor-pointer">
            Datenschutz
          </p>
          <p routerLink="/impressum" class="italic cursor-pointer">Impressum</p>
        </div>
      </div>
    </div>
  </section>
</div>
