<app-navbar></app-navbar>
<div
  class="max-w-screen overflow-scroll overflow-x-hidden h-screen snap-y snap-mandatory"
>
  <section class="snap-center">
    <div
      class="grid content-center min-h-screen pt-2.5 pb-2.5 pl-[10%] pr-[10%] show-on-scroll"
    >
      <p class="text-white text-2xl font-light">Here is some of my</p>
      <p class="text-white text-7xl font-semibold">Photo Work</p>
      <p class="text-white text-2xl font-light">Scroll down to check it out!</p>
    </div>
  </section>
  <section class="snap-center">
    <div class="flex flex-col pt-20 pb-2.5 pl-[10%] pr-[10%]">
      <!--
      <div class="grid grid-cols-2 gap-2 pb-52">
        <div>
          <img
            class="h-auto max-w-full rounded-lg"
            src="assets/images/photos/DSC00779.jpg"
            alt=""
          />
        </div>
        <div>
          <img
            class="h-auto max-w-full rounded-lg"
            src="assets/images/photos/DSC01018.jpg"
            alt=""
          />
        </div>
        <div>
          <img
            class="h-auto max-w-full rounded-lg"
            src="assets/images/photos/DSC01223.jpg"
            alt=""
          />
        </div>
        <div>
          <img
            class="h-auto max-w-full rounded-lg"
            src="assets/images/photos/DSC01237.jpg"
            alt=""
          />
        </div>
        <div>
          <img
            class="h-auto max-w-full rounded-lg"
            src="assets/images/photos/DSC01542.jpg"
            alt=""
          />
        </div>
        <div>
          <img
            class="h-auto max-w-full rounded-lg"
            src="assets/images/photos/DSC01239.jpg"
            alt=""
          />
        </div>
        <div>
          <img
            class="h-auto max-w-full rounded-lg"
            src="assets/images/photos/DSC01265.jpg"
            alt=""
          />
        </div>
        <div>
          <img
            class="h-auto max-w-full rounded-lg"
            src="assets/images/photos/DSC01499.jpg"
            alt=""
          />
        </div>
      </div>-->

      <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        <div class="grid gap-4">
          <div>
            <img
              class="h-auto max-w-full rounded-lg"
              src="assets/images/photos/DSC01499.jpg"
              alt=""
            />
          </div>
          <div>
            <img
              class="h-auto max-w-full rounded-lg"
              src="assets/images/photos/DSC01542.jpg"
              alt=""
            />
          </div>
          <div>
            <img
              class="h-auto max-w-full rounded-lg"
              src="assets/images/photos/DSC01388.jpg"
              alt=""
            />
          </div>

          <div>
            <img
              class="h-auto max-w-full rounded-lg"
              src="assets/images/photos/DSC01018.jpg"
              alt=""
            />
          </div>
          <div>
            <img
              class="h-auto max-w-full rounded-lg"
              src="assets/images/photos/DSC01058.jpg"
              alt=""
            />
          </div>
        </div>
        <div class="grid gap-4">
          <div>
            <img
              class="h-auto max-w-full rounded-lg"
              src="assets/images/photos/DSC01237.jpg"
              alt=""
            />
          </div>
          <div>
            <img
              class="h-auto max-w-full rounded-lg"
              src="assets/images/photos/DSC01265.jpg"
              alt=""
            />
          </div>
          <div>
            <img
              class="h-auto max-w-full rounded-lg"
              src="assets/images/photos/DSC01239.jpg"
              alt=""
            />
          </div>
          <div>
            <img
              class="h-auto max-w-full rounded-lg"
              src="assets/images/photos/DSC01423.jpg"
              alt=""
            />
          </div>
          <div>
            <img
              class="h-auto max-w-full rounded-lg"
              src="assets/images/photos/DSC01524.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
