@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #0a192f;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@layer components{
  .iosfix{
    @apply absolute top-0 bottom-0 left-0 right-0
  }
}
